extends ../layout

block content
  a(href='/article/new') New article
  h1
    #{article.title}
  div.item(data-id='#{article._id}')
    h3 #{article.title}
    img(src='#{article.urlToImage}')
    p #{article.description}
    p
      span #{new Date(article.publishedAt).toLocaleString('en-US').split(', ')[0]}
      span
        b Author: #{article.author}
        a(href='#{article.url}', target='_blank') Link
    p
      a(href='/article/#{article._id}/edit') Edit
      br
      a.action.delete(href='/article/#{article._id}/delete', data-id='#{article._id}') Delete